.App {
    margin: 100px 120px 87px 120px;
}

.title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 48px;
    font-weight: 800;
}

.sub-title {
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: 400;
}
