.carousel-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    overflow: hidden;
    margin-bottom: 40px;
    width: 100%;
}

@media screen and (max-width: 1342) {
    .carousel-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 982px) {
    .carousel-container {
        grid-template-columns: 1fr;
    }
}

.arrow-container {
    display: flex;
    cursor: pointer;
}
